.m {
  color: #428bca;
}

#source-view {
  border: solid #333 1px;
  height: 390px;
  background: #eee;
  overflow:hidden;
}

.box script, #source-view script {
  display: block;
  white-space: pre;
  color: #333;
  padding: 10px;
  font: 11px Monaco, MonoSpace;
  overflow: auto;
}

li a:focus {
    outline: 0;
}

em{
  font-weight:bold;
}

.donut .info {
  padding-left:20px;
}


.board {
  background-color:#ddd;
}

.board div{
  background-color:#ddd;
  border-color: #cecece;
  width: 20px;
  height: 20px;
  text-align:center;
  border-style:solid;
  float:left;
}


.board div.donut-unit{
  background-color:#09d;
}

div.clear{
  clear:both;
  height:0;
  width: 0;
  border:none;
}


