<section id="dependencies">
  <script src="/underscore-min.js"></script> 
  <script src="/jquery-1.11.2.min.js"></script>
  <script src="/backbone-min.js"></script>
  
  <!-- 
    Get them hear btw:
    https://underscorejs.org/
    https://jquery.com/download/
    https://backbonejs.org/
  -->
</section>