<!DOCTYPE html>
<html>
<head>
  <%= render "_dependencies_markup.html" %>
  <%= render "/js/_hide_unrelated_javascript.html" %>
  <script src="/js/board/board.js"></script>
</head>

<body>
  <div class="container">

    <h1>Backbone Tut</h1>

    <%= render "tab_display/_tab_display.html" %>
  </div>

</body>
</html>

