<!DOCTYPE html>
<html>
<head>
  <%= render "/js/_hide_unrelated_javascript.js" %>

  <%= render "_dependencies_markup.html" %>
  
  <script src="/my_code.js"></script>
</head>

<body>
  <div class="container">

    <h1>Backbone Tut</h1>

    <p>Here's my barebones backbonejs tut (because you can't learn backbone without making a file like this by hand)</p>

    <p>
      Based on 
      <a href="http://liquidmedia.ca/blog/2011/01/backbone-js-part-1/">http://liquidmedia.ca/blog/2011/01/backbone-js-part-1/</a> and
      <a href="http://liquidmedia.org/blog/2011/02/backbone-js-part-3/">http://liquidmedia.org/blog/2011/02/backbone-js-part-3/</a>
    </p>

    <h3>Notes</h4>
      <%= render "tab_display/_tab_display.html" %>
  </div>

</body>
</html>

