<div class="my-code-js-output-collections notes hide">
  <p>
    Collections get there own tab to keep it clean!
  </p>
  
  <h6>Variables related to Collections</h6>
  <div class='row models-and-views'>
    <div class='span4'>
      <ul>
        <li>Collection Class:  DonutCollection</li>
        <li>Model Class: <span class='m model-class-url'>Donut</span></li>
        <li>View Class:  <span class='m view-class'>DonutView</span></li>
        <li>Instance of Model:  <span class='m model-instantiation'>bostonCream</span></li>
        <li>Instance of View:  <span class='m view-instantiation'>bcDonutView</span></li>
        <li>Page Element Being Rendered To:  <span class='m attach-to-element'>$('#app')</span></li>
      </ul>
    </div>

    <div class='span6'>
      <div id='source-view' class='source-view'>
      </div>

      <div id="box" class="box" data-trigger="model-class-url">
        <script>
          <%= render "js/model_view/_01_create_model_class.js" %>
        </script>
      </div>
    </div>

  </div>
  
  <div id="app-c"></div>
  
  
</div>