<div class="my-code-js-output-collections notes hide">
  <p>
    Collections get there own tab to keep it clean!
  </p>
  
  <h6>Variables related to Collections</h6>
  <div class='row models-and-views'>
    <div class='span4'>
      <ul>
        <li>Model Class:  <span class='m model-class-url'>DonutWithURL</span></li>
        <li>Collection Class:  <span class='m model-class-url'>Donuts</span></li>
        <li>View Class for Collection:  <span class='m model-class-url'>DonutCollectionView</span></li>
        <li>View Instantiation:  <span class='m model-class-url'>donutCollectionView</span></li>
        <li>Page Element Being Rendered To:  <span class='m attach-to-element'>$('#app')</span></li>
      </ul>
    </div>

    <div class='span6'>
      <div id='source-view' class='source-view'>
      </div>

      <div id="box" class="box" data-trigger="model-class-url">
        <script>
          <%= render "js/collections/_01_model_with_url.js" %>
        </script>
      </div>

      <div id="box" class="box" data-trigger="model-class-url">
        <script>
          <%= render "js/collections/_01_model_with_url.js" %>
        </script>
      </div>
    </div>

  </div>
  
  
  <h4>The Donut Collection's View:</h4>
  <div id="app-c"></div>
  
  
</div>