<div class="my-code-js-output-collections notes hide">
  <p>
    Collections get there own tab to keep it clean!
  </p>
  
  <h6>Variables related to Collections</h6>
  <ul>
    <li>Collection Class:  DonutCollection</li>
    <li></li>
    <li></li>
    <li>Page Element Being Rendered To:  $('#app')</li>
  </ul>
  
  <div id="app-c"></div>
  
  
</div>