<div class="notes order-of-operations hide">
  <p>
    As you start out with backbonejs, you'll likely feel uncertain as to what classes to make first.  
    Below is the most sensical way to do things.  
  </p>
  
  <h4> Order of Operation </h4>
  <ul>
    <li>Model Class</li>
    <li>View Class</li>
    <br>
    
    <li>
      Model Instantiation
      <div><strong>Requires:</strong></div>
      <ul>
        <li>Model Class</li>
      </ul>
    </li>
    <br>

    <li>
      View Instatiation
      <div><strong>Requires:</strong></div>
      <ul>
          <li>View Class</li>
          <li>Model Instantiation (thus a model class too)</li>
        </ul>
    </li>
    <br>
    
   <li>
      Collection Class
      <div><strong>Requires:</strong></div>
      <ul>
        <li>Model... todo, finish this</li>
      </ul>
    </li>
  </ul>

</div>