<ul class="nav nav-tabs">
  <li role="presentation" class="active dependencies"><a href="javascript:void(0)" onclick="MyUI.displayNotes(this)" data-name="dependencies">Dependencies</a></li>
  <li role="presentation" class="order-of-operations"><a href="javascript:void(0);" onclick="MyUI.displayNotes(this)" data-name="order-of-operations">Order of Operations</a></li>
  <li role="presentation" class="my-code-js-output"><a href="javascript:void(0);" onclick="MyUI.displayNotes(this)" data-name="my-code-js-output">backbone output (models & views)</a></li>
  <li role="presentation" class="my-code-js-output-collections"><a href="javascript:void(0);" onclick="MyUI.displayNotes(this)" data-name="my-code-js-output-collections">collections backbone output (collections)</a></li>
</ul>

<%= render "tab_display/_dependencies.html" %>
<%= render "tab_display/_order_of_operations.html" %>
<%= render "tab_display/_models_and_views.html" %>
<%= render "tab_display/_collections.html" %>
